/* style.css: Basic styles for Hiya's Home page */

body {
    font-family: Arial, sans-serif;
    background: #77df08;
    margin: 0;
    padding: 0;
}

h3 {
    color: #990000;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}
